@font-face
  font-family BurbankBigCondensed-Black
  font-style normal
  font-weight 400
  src url(https://static-assets-prod.epicgames.com/fortnite/static/webpack/c5d323c99493dd76432d4f531b8cc329.woff) format('woff')


.font-fortnite
  font-family "BurbankBigCondensed-Black", sans-serif

.background 
  background  rgb(0,212,255)
  background  linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(0,181,255,1) 35%, rgba(0,108,255,1) 100%)


.zoom 
  transition  transform .2s


.zoom:hover 
  transform  scale(1.5)
  background white
  color #00a7ff !important
